html,body{
    margin: 0;
    padding: 0;
    font-size: .9em;
    color: dimgray;
}

h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0;
}

nav{
    height: 60px;
    border-bottom: #F0F0F0 1px solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

button{
    border: none;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}

li{
    display: inline;
}

#container{
    /*margin: 0 30px;*/
    display: flex;
    flex-flow: row wrap;
}

#detail{
    width: 70%;
    padding: 30px 0 0 0;
}

#history{
    width: 30%;
    background-color: #F0F0F0;
    padding: 30px 20px;
}

.nav-map{
    cursor: pointer;
}

.flex{
    margin: 10px 0;
}

.half{
    width:50%;
}

.third{
    width: 33%;
}

.third input{
    width: 40px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
}

.gray{
    color: lightgray;
}

.bold{
    font-weight: bold;
}

.add-padding{
    padding: 0 30px 30px 30px;
}

.green-bar{
    height: 30px;
    background-color: #e6ffe6;
    color:limegreen;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 30px;
    border-bottom: 1px #F0F0F0 solid;
    font-size: 1.2em;
}

.gray-bar{
    height: 30px;
    background-color:#fafafa;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 30px;
    border-bottom: 1px #F0F0F0 solid;
    font-weight: bold;
    margin-bottom: 15px;
}

.details{
    padding: 0 30px 20px 30px;
    border-bottom: 1px #F0F0F0 solid;
    margin-bottom: 30px;
}

.logo{
    font-size: 1.4rem;
    letter-spacing: 4px;
    cursor: pointer;
}

.user{
    font-weight: lighter;
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.row{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.row li{
    width: 20%;
}

.fa-user-circle, .fa-shopping-cart, .fa-eye{
    color: deepskyblue;
    margin: 0 6px;
}

.fa-glasses{
    color: darkred;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: lighter;
}

.item{
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    border: #F0F0F0 solid 1px;
    margin-bottom: 10px;
}

.item div{
    width:20%;
    text-align: center;
}

.hero{
    background-color: black;
    height: 150px;
    color: white;
    padding: 50px;
}

.bottom-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bottom-row div{
}

